################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs*
/x64
/PeApp/x64
/PeDll/x64
/PeLib/x64
/ExampleDll/x64
*.user
